.landing-root {
    justify-content: space-between;
    transform: none;
    width: 100vw;
}

.landing-left-spacer {
    display: flex;
    flex: 1;
    height: 100vh;
}

.landing-left {
    position: absolute;
}

.landing-line {
    background: #0c0c0c;
    background: linear-gradient(90deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 0.3));
    border-radius: 0.2vh;
    display: flex;
    height: 0.4vh;
    left: 1vw;
    position: absolute;
}

.landing-top-text {
    color: #8c8c8c;
    font-size: 2.5ch;
    padding-left: 6vw;
    padding-top: 12vh;
}

.landing-top-text-large {
    font-size: 2.5ch;
}

.landing-middle-text {
    font-size: 4ch;
    padding-left: 15vw;
    padding-top: 21vh;
}

.landing-bottom-text {
    color: #6c6c6c;
    padding-left: 15vw;
    width: 55ch;
}

.landing-social-icon-btn {
    background-color: transparent;
    bottom: 5vh;
    opacity: 0.2;
    transition: 0.5s;
    width: 5ch;
}

.landing-social-icon-btn:hover {
    opacity: 1;
}

.landing-social-prompt {
    bottom: 6.5vh;
    left: 30vw;
    width: 17ch;
}

.landing-bg-img {
    height: 100vh;
}

.landing-social-icon-container {
    bottom: 6vh;
    justify-content: space-between;
    left: 6vw;
    position: absolute;
    width: 50ch;
}