.nav-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.nav-bar {
    background-color: #0c0c0c;
    border-bottom: 2px solid #2c2c2c;
    height: 8vh;
    width: 100vw;
}