.project-root {
    
}

.project-filter {

}

.project-filter-category-container {    
}

.project-filter-category {
    font-weight: bold;
    margin-top: 2ch;
    margin-bottom: 2ch;
}

.project-filter-tag {

}
